._ {
  position: relative;
  height: 35vw;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000040;
    z-index: 1;
  }
}

.container:global(.wrapper) {
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
  max-width: 155.2rem;
  position: absolute;
  inset: 0;
}

.title {
  @include font-oswald;
  text-align: center;
  font-size: 6rem;
  position: relative;
  z-index: 1;

  @media(max-width: 1023px) {
    font-size: 4rem;
  }
  @media(max-width: 767px) {
    font-size: 2.8rem;
  }
}

.video {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button {
  @include button;
  @include button-hover;
  border-radius: .3em;
  padding: 4vw 8vw;
  font-weight: 500;
  font-size: 3vw;
  box-shadow: var(--color-shadow) 0 .5rem 2rem 0;
  background-color: #49ae52;
  overflow: hidden;
  z-index: 1;

  &, span {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent, #306428);
  }

  &:hover {
    background: #306428;
  }

  @media(max-width: 767px) {
    font-size: 2rem;
    padding: 5vw 8vw;
  }
}

.image {
  width: 100%;
}