._ {
  min-height: 30rem;
  background: linear-gradient(60deg, var(--color-default), #750ed5 93%);
  display: grid;
  place-items: center;
  font-size: 3.6rem;
  color: #fff;

  @media(max-width: 767px) {
    font-size: 3rem;
  }
}