._ {
  @include border-style;
  width: fit-content;
  display: flex;
  gap: 2rem;
  height: 8.3rem;
  padding: 1.8rem 3.2rem;
  background: linear-gradient(0deg, #000 0%, #000 100%), linear-gradient(90deg, #39CBFF 0.1%, #0073C6 26.61%, #00ABE5 63.83%, #3EC1FF 88.28%, #0073C6 97.58%);
}

.icon {
  height: 100%;
  width: auto;
}

.text {
  font-weight: 400;

  &__text {
    font-size: 1.7rem;
    line-height: 1;
  }

  &__name {
    font-size: 2.8rem;
    line-height: 1;
  }
}

.apple {
  min-width: 25.9rem;
}

.google {
  min-width: 28.5rem;
}

.ya {
  min-width: 31.2rem;
}

.odnoclassniki {
  min-width: 28.6rem;
}