@import 'mixins.scss';

html {
  font-family: var(--font-family), sans-serif;
  scroll-behavior: smooth;

  @media (max-width: 767px) {
    font-size: calc(100vw / 1920 * 50);
  }

  @media (min-width: 768px) {
    font-size: 10px;
  }
}

body {
  background-color: #001433;
}

body, button {
  color: var(--text-color);
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;

  @media(max-width: 767px) {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3.2rem;
}

.text {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 200;
}

.wrapper {
  max-width: var(--wrapper);
  padding: 0 5%;
  width: 100%;
  margin: 0 auto;
}
