._ {
  padding: 4.3rem 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4.4rem 2.4rem;

  > * {
    flex: 1 1 40rem;
  }
}

@media(max-width: 767px) {
  ._ {
    padding: 1rem 0;
  }

  .list {
    gap: 3.2rem;
  }
}