._ {
  @include border-style;
  color: #fff;
  position: relative;
  padding: 3rem 2rem 3rem 4rem;
  margin-left: 12rem;
}

.title {
  font-size: 2rem;
  line-height: 3.2rem;
}

.text {
  font-size: 1.6rem;
  line-height: 3rem;
}

.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: -5.4rem;

  svg {
    width: 17rem;
  }
}

@media (max-width: 767px) {
  ._ {
    margin-left: 0;
    margin-top: 4rem;
    border-radius: 2rem;
    padding: 5.9rem 2.2rem 2.5rem;
  }

  .title {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: .8rem;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;

    svg {
      width: 11rem;
    }
  }
}