._ {
  padding: 2rem 0 9rem;
}

.title {
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.video {
  width: 100%;
  margin-top: 5rem;
}

.button {
  margin: 4.2rem auto 0;
}

@media (max-width: 767px) {
  ._ {
    padding: 4rem 0 5.8rem;
  }

  .title {
    font-size: 3.8rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  .video {
    margin-top: 3.3rem;
  }

  .button {
    margin-top: 2.7rem;
  }
}