._ {
  position: relative;
  padding: 4.0rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.0rem;
}

.image {
  width: 100%;
  max-width: 62.3rem;
  margin: 0 auto;
}

.text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4.0rem;

  &__description {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 200;
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}


@media(max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
  }

  .buttons {
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }
}