._ {
  padding: 3.8rem 3.2rem 12rem;
  background-color: #002357;

  p, a {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

.logo {
  img {
    width: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: 14.2rem auto 14.2rem;
  place-items: center;
  width: 100%;
}

.text_container {
  display: flex;

  @media(min-width: 768px) {
    > *:first-child {
      width: 21rem;
      margin-right: 13rem;
    }

    > *:last-child {
      width: 36rem;
    }
  }
}

.down_container {
  font-family: 'Inter', sans-serif;
  justify-content: center;
}

.hr {
  height: .1rem;
  background-color: #fff;
  opacity: .2;
  margin: 1.4rem 0 2.4rem;
}

.text {
  @media (min-width: 768px) {
    > *:first-child {
      margin-bottom: 2.4rem;
    }
  }
}

@media (max-width: 767px) {
  ._ {
    padding: 2.2rem 1.5rem;

    p, a {
      font-size: 1.6rem;
      font-weight: 200;
      line-height: 2.4rem;
    }
  }

  .logo {
    width: 8.3rem;
    margin: 0 auto 1.5rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .text_container {
    flex-flow: column;
    text-align: center;
    gap: 0.3rem;
  }

  .hr {
    margin: 2.5rem 0;
  }
}


