._ {
  padding: 6rem 3.2rem 12rem;
  background-color: #002357;
  font-size: 2rem;
  font-weight: 300;
}

.logo {
  display: grid;
  place-items: center;

  img {
    width: 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: 11rem auto 11rem;
  place-items: center;
  width: 100%;
}

.text_container {
  display: flex;

  @media(min-width: 1024px) {
    > *:first-child {
      width: 21rem;
      margin-right: 13rem;
    }

    > *:last-child {
      width: 31rem;
    }
  }
}

.down_container {
  font-family: 'Inter', sans-serif;
  justify-content: center;
}

.hr {
  height: .1rem;
  background-color: #fff;
  opacity: .2;
  margin: 2.4rem 0;
}

.text {
  @media (min-width: 1024px) {
    > *:first-child {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 1023px) {
  ._ {
    padding: 3.2rem 1.5rem;
    font-weight: 200;
  }

  .logo {
    width: 6.4rem;
    margin: 0 auto;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .text_container {
    flex-flow: column;
    text-align: center;
    gap: 1.6rem;
  }
}


