._ {
  height: 5.9rem;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.button {
  background-color: #818a91;
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
  border-radius: .3rem;
  color: #fff;
}